body {
    font-family: 'Roboto', sans-serif;
}

/* Title Section */

.navbar {
    background-color: black;
}

.icone-navbar{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    margin-right: 0px;
    margin-left: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.banner-img {
    background-image: url(./img/banner-img.jpg);
    background-size: cover;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
}

.header-text {
    margin-top: 22rem;
}

/* skills Section */

.row {
    margin: 5rem 7rem;
}

.skillsBox {
    text-align: center;
}

.skillsTitle {
 padding: 1.75rem 0 1.75rem 0
}

.skills-icons {

}


.skilsText {
    padding: ;
}
